main {
    background-image: url("../img/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 860px;
    width: 100%;
    margin: 0 auto;
    font-family: 'Tangerine', serif;
    font-size: 20px;
    text-shadow: 1px 1px 1px #4f4f4f;

}

img {
    max-width: border-box;
    position: center;
}
tr, td {
    width: 50px;
}
#footer {
    position: fixed;
    padding-top: 10px;
    padding-bottom: 10px;
    bottom: 0;
    width: 100%;
}